


@media only screen and (max-width: 1024px) {
   nav ul{
    max-width: 100% !important;
   }
  .content{
    width: 80% !important;
  }
  
  .books2 .boxes .box1{
    display: none;
  }
  .books2 .boxes{
    justify-content: center !important;
  }
  
 
}



@media only screen and (min-width: 768px) {
  .slider .boxes .box1 .box-img img {
    width: 100%;
    height: 100%;
}
}


@media only screen and (max-width: 768px) {
  .content{
    width: 100% !important;
  }
  .slider .boxes{
    flex-direction: column;
    align-items: center;
  }
  .metn{
    text-align: center !important;
  }
}


@media only screen and (max-width: 600px){
  nav ul{
    flex-direction: column;
  }
  .socual_links{
    position: static !important;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}












/* 
@media only screen and (max-width: 600px) {
    nav ul{
      flex-direction: column;
      width: 100% !important;
    }
    nav ul li:first-child{
        border-left: none !important;
    }
    nav ul li a{
        border-right: none !important;
    }
    .content{
        width: 100%;
    }
    .content .slider .boxes{
        flex-direction: column;
        width: 100%;
    }
  }  */