header h2{
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 2rem;
    font-family: "Lobster";
    font-style: "Regular";
    font-size: 49px;
    color: #fff;
    }
header{
    background-color: #109E97;
}
main{
    width: 70%;
    margin:0;
}

.socual_links {
    position: absolute;
    right: 1rem;
    top: 12rem;
}
.socual_links i{
    background-color:#109E97;
    color:#fff;
    border-radius: 50px;
    display: block;
    padding: 10px;
    margin:  2rem 0;
}
nav{
    width: 100%;
    background-color: #109E97;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}
nav ul {
    display: flex;
    max-width: 1000px;
}
nav ul li:first-child{
    border-left: 1px solid #fff;
}
nav ul li:nth-child(4) a{
    background-color: #0E524E;
    color: #fff !important;
    cursor: default;
}
nav ul li:not(:nth-child(4)):hover a{
    color:#0E524E;
    background-color: #fff;
    cursor: pointer;
}
/* nav ul li:nth-child(4):hover 
nav ul li:nth-child(4) a{
    color: #0E524E !important;
} */
nav ul li a:visited{
    color: #0E524E;
}
nav ul li a{
    color: #fff;
    border-right: 1px solid #fff;
    display: inline-block;
    padding: 21px 45px;
    font-size: 16px;
}
.slider{
    padding-bottom: 5rem;
}
.slider .boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:100px;
}
.slider .boxes .box1{
    width: 35%;
    
}
.slider .boxes .box1  .box-img{
    width: 206px;
    height: 222px;
}
.slider .boxes .box1  .box-img .left_img{
    width: 100%;
}
.slider .boxes .box2{
    width: 35%;
    position: relative;
}
.box-img{
    width: 300px;
    margin: 0 auto;
}
.left_img{
    width: 100%;
}
.slider .boxes .box2 p{
    height: 250px;
    padding-bottom: 5rem;
    text-align: right;
    overflow-y: scroll;
    direction: rtl;
}
.slider .boxes .box2 a{
    background-color: #109E97;
    color: #fff;
    padding:  10px 19px;
    position: absolute;
    margin-top: 2rem;
    right: 0;
}
/* books */
table{
    width: 80%;
    margin:0 auto;
    margin-bottom: 5rem;
    border-collapse: collapse;
}
table tr:not(:last-child){
    border-bottom: 1px solid red;
}
/* books */
/* section 2 */

footer{
    text-align: center;
    color:#fff;
    background-color: #109E97;
    padding: 34px 36px;
}
.books2{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5rem;
}
.books2 .boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.books2 .boxes .box2{
    text-align: center;
}
.books2 .boxes .box2 a{
    background-color: #109E97;
    color: #fff;
    padding: 10px 19px;
    margin-bottom: 5rem;
    margin-top: 3rem;
}
textarea{
    opacity: 0.5;
}
.name:focus{
    background-color: yellow;
}